<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">مؤلفين</a></li>
            <li><a href="/authors/new">مؤلف جديد</a></li>
        </ul>
    </nav>
</header>